<html>
    <head>
        <title>Sign-in</title>
    </head>
    <body>
        <form action="/dashboard" method="POST">  
            <fieldset>
                <legend>Sign-in</legend>
                <label for="userid">UserID:</label><br>
                <input type="text" id="u_id" name="userid"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="passwd" name="password"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </body>
</html>