<html>
    <head>
        <title>Sign-up</title>
    </head>
    <body>
        <form action="/signin" method="POST">  
            <fieldset>
                <legend>Sign-up</legend>
                <label for="name">Enter your name:</label><br>
                <input type="text" id="fname" name="name"><br>
                <label for="userid">Select a UserID:</label><br>
                <input type="text" id="u_id" name="userid"><br>
                <label for="password">Select a strong password:</label><br>
                <input type="password" id="passwd" name="password"><br><br>
                <label for="password2">Re-enter the password:</label><br>
                <input type="password" id="passwd2" name="password2"><br><br>
                <label for="number">Enter your phone number(Optional):</label><br>
                <input type="text" id="phno" name="number"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </body>
</html>